# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Testing
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
tests/
output.json
output.yaml
output.xml
logs/
test.json
test.yaml
test.dot
test.csv


# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Other files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other specific directories or files
repo_analyzer/__pycache__/
repo_analyzer/logging/__pycache__/
tests/test_cache.py
tests/test_cache.py
tests/test_output.py
tests/test_cache.py
tests/test_config.py
tests/test_logging.py
tests/test_output.py
tests/test_processing.py
tests/test_traversal.py
repo_analyzer/tests/